<div class="content" >
  <mat-card class="matCard" *ngFor="let heroe of heroes" >
    <mat-card-header>
      <mat-card-title>{{heroe.name}}</mat-card-title>
    </mat-card-header>
    <img src="{{heroe.thumbnail.path}}.{{heroe.thumbnail.extension}}" width="330px">
    <mat-card-content class="matCardContent">
      <p>{{heroe.description}}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" [routerLink] = "['/heroe', heroe['id'], 'comics']">Comics</button>
    </mat-card-actions>

  </mat-card>
</div>
